.technology,
.team,
.contact {
  display: flow-root;
}

.technology {
  background: #f5fbfd;
}

.team {
  background: #ffffff;
}

.contact {
  background: #f7f7f7;
}

.title {
  color: #1f6b8b;
  text-align: center;
  font-size: 2em;
}

.subtitle {
  color: #4ea6d4;
  text-align: center;
  font-size: 1.5em;
  color: #4ea6d4;
}

.form {
  max-width: 800px;
}

.container,
.titleContainer,
.form {
  margin: 75px auto;
}

.technologyItem {
  background: #ffffff;
  padding: 50px;
  text-align: center;
}

.technologyItem:hover {
  background: #f7f7f7;
}

.teamItem {
  background: #f5fbfd;
  text-align: center;
  padding: 50px;
}

.itemTitle {
  font-size: 1.5em;
  color: #1f6b8b;
  text-transform: uppercase;
  text-align: center;
}

.itemSubtitle {
  color: #1f6b8b;
  text-align: center;
}

.itemContent {
  color: #4ea6d4;
  text-align: center;
}

.teamPhoto {
  margin: auto;
  width: 100px;
  height: auto;
  border: 3.5px solid #4ea6d4;
  border-radius: 100px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0px;
  background: #141414;
  text-align: center;
  padding: 50px;
  display: flex;
  overflow: hidden;
}

.padding {
  padding: 10px;
}

.footer {
  background: #f5fbfd;
  padding: 40px;
  text-align: center;
  border-top: 1px solid #bbe6f3;
}

.logo {
  margin-left:100px;
  color: white;
  flex-grow: 1;
  -webkit-transition: width 2s; /* Safari prior 6.1 */
  transition: width 2s;
}

.logoactive {
  margin-left:0px;
}

.links a {
  margin: 0px 50px;
  color: #4ea6d4;
}

.right {
  width:100px;
  -webkit-transition: width 1s; /* Safari prior 6.1 */
  transition: width 1s;
}

.rightactive{
  width:755px;
}

.links {
  display: flex;
  flex-direction: row;
  text-align:right;
}

.button {
  text-align: center;
  margin: auto;
}

.min {
  color: #4ea6d4;
  font-size: 2em;
  margin: 0px 50px;
}

.max {
  color: #4ea6d4;
  font-size: 2em;
  margin: 0px 50px;
}